{% extends "base.html" %}
{% block content %}
<h1>Post {{ post.title }} likes</h1>
{% for user in likers %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='pictures/' + user.image_file) }}" alt="">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('user_info', username=user.username) }}">{{ user.username }}</a>

            </div>
            <a href="{{ url_for('followers',username=user.username) }}"><strong>Followers:</strong> {{ user.followers.count() }}</a><br>
                <a href="{{ url_for('followed',username=user.username) }}"><strong>Following:</strong> {{ user.followed.count() }}</a>
        </div>
    </article>
{% endfor %}
{% endblock %}